* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
}

:root {
  --color-bg: #f4ce14;
  --color-white: #fcfeff;
  --color-white2: rgb(238, 237, 237);
  --color-white3: #dedede;
  --color-gray: #758592;
  --color-bg2: #c3ac52;
  --color-dark: #1d1e20;
  --color-blue1: #d3e0fc;
  --color-blue2: #4171d6;
  --color-red1: #ffd4db;
  --color-red2: #d31a45;
}
